@import '../../styles/vars';

.portfolio {
  // background-color: bisque;
  padding: 40px;
  height: calc(100vh - $header-height);

  overflow-x: hidden;
  overflow-y: auto;

  @media (min-width: 700px) {
    padding: 80px;
  }

  @media (min-width: 1100px) {
    height: 100vh;
  }

  &__projects {
    min-width: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__project {
    width: 200px;
    height: 350px;
    background-color: #222;
    padding: 13px;
    border: 1px solid #000;
    box-shadow: 0 0 10px 0 #ffffe0;
    border-radius: 4px;

    @media (min-width: 900px) {
      width: 300px;
      height: 500px;
    }
  }

  &__image {
    flex-grow: 1;
    background-color: rgb(109, 84, 86);
    width: 200px;
    height: 200px;
    transition-property: transform;
    transition-duration: 350ms;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
      transform: rotate(5deg) scale(1.1);
    }

    @media (min-width: 900px) {
      width: 300px;
      height: 300px;
    }

    &--mybike {
      background-image: url(../../images/portfolio-images/MyBike-image.png);
    }

    &--todoapp {
      background-image: url(../../images/portfolio-images/todoapp-image.png);
    }
  }

  &__title {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-size: 16px;

    @media (min-width: 900px) {
      font-size: 20px;
    }
  }

  &__description {
    padding: 2px;
    margin: 0;
    font-size: 12px;
    
    @media (min-width: 900px) {
      font-size: 16px;
    }
  }
}