.about {
  display: flex;
  // flex-grow: 1;

  height: 100vh;
  padding: 50px;

  &__page {
    box-sizing: border-box;
    width: 60%;
    padding: 100px 50px 50px;
  }

  &__animation {}

  &__title {

  }

  &__text {

  }
}