.about {
  display: flex;
  flex-direction: column;

  @media (min-width: 900px) {
    flex-direction: row;
  }

  height: 100vh;
  padding: 50px;

  &__page {
    box-sizing: border-box;
    flex-basis: 50%;
    padding: 100px 20px 20px;

    text-align: center;
    font-size: 22px;
  }

  &__animation {
  }

  &__title {

  }

  &__text {

  }
}