@import '../../styles/vars.scss';

.home {
  display: flex;
  flex-direction: column;

  @media (min-width: 900px) {
    flex-direction: row;
  }

  overflow-x: scroll;

  box-sizing: border-box;
  height: calc(100vh - $header-height);
  padding: 40px;
  
  @media (min-width: 700px) {
    padding: 80px;
  }

  @media (min-width: 1100px) {
    height: 100vh;
  }

  &__page {
    box-sizing: border-box;
    flex-basis: 50%;
    padding: 40px 20px 20px;

    @media (min-width: 1100px) {
      margin-top: 120px
    }
  }

  &__animation {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
  }

  &__title {
    position: relative;
    left: -30px;
    top: -50px;
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 125%;

    @media (min-width: 700px) {
      font-size: 48px;
    }

    &::before {
      content: "<h1>";
      color: $tagColor;
      position: relative;
      font-size: 18px;
      line-height: 18px;
      left: -10px;
      top: 10px;
      opacity: .6;
    }

    &::after {
      content: "</h1>";
      color: $tagColor;
      position: relative;
      font-size: 18px;
      line-height: 18px;
      left: -10px;
      bottom: 20px;
      opacity: .6;
    }

  }

  &__text {
    letter-spacing: 1px;
    font-size: 20px;
    position: relative;
    top: -50px;
    left: -50px;

    &::before {
      content: "<p>";
      color: $tagColor;
      position: relative;
      font-size: 18px;
      line-height: 18px;
      left: 10px;
      top: -25px;
      opacity: .6;
    }

    &::after {
      content: "</p>";
      color: $tagColor;
      position: relative;
      font-size: 18px;
      line-height: 18px;
      left: -335px;
      bottom: -25px;
      opacity: .6;
    }
  }

  &__span {
    display: block;
    // padding-bottom: 10px;
  }
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #1517b6;
  --color-2: #198069;
  --color-3: #e74cb9;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
