@import '../../styles/vars';

.contact {
  display: flex;
  flex-direction: column; 

  box-sizing: border-box;
  height: calc(100vh - 80px);
  padding: 40px;

  overflow-x: hidden;
  overflow-y: auto;


  @media (min-width: 700px) {
    padding: 80px;
  }

  @media (min-width: 900px) {
    flex-direction: row;
  }

  @media (min-width: 1100px) {
    height: 100vh;
  }


  &__page {
    box-sizing: border-box;
    // background-color: #3f3737;
    flex-basis: 50%;
    padding: 60px 40px 40px;

    @media (min-width: 1100px) {
      padding-top: 120px
    }
  }

  &__title {
    min-width: 150px;
    position: relative;
    left: -30px;
    font-size: 32px;
    letter-spacing: 1px;
    padding-bottom: 20px;

    &::before {
      content: "<h1>";
      color: $tagColor;
      position: relative;
      font-size: 18px;
      line-height: 18px;
      left: -10px;
      top: -30px;
      opacity: .6;
    }

    &::after {
      content: "</h1>";
      color: $tagColor;
      position: relative;
      font-size: 18px;
      line-height: 18px;
      left: -240px;
      bottom: -30px;
      opacity: .6;

      // @media (max-width: 300px) {
      //   left: -145px;
      // }
    }
  }

  &__text {
    
    &-container {
      min-width: 150px;
      // background-color: red;

      &::after {
        content: "</p>";
        color: $tagColor;
        position: relative;
        font-size: 18px;
        line-height: 18px;
        left: -35px;
        bottom: 35px;
        opacity: .6;
      }
    }


    letter-spacing: 1px;
    font-size: 16px;
    padding: 20px 0;
    // text-align: center;

    &::before {
      content: "<p>";
      color: $tagColor;
      position: relative;
      font-size: 18px;
      line-height: 18px;
      left: -35px;
      top: -15px;
      opacity: .6;
    }
  }
}

.form {
  min-width: 150px;

  &__input {
    border: 0;
    box-sizing: border-box;
    background-color: $input-bg;
    padding: 0 20px;
    color: #fff;
    margin: 0 0 10px;
    outline: none;

    &:hover {
      border: 1px solid gold;
    }

    &::placeholder {
      // border: 0;
      font-family: Arial, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    &:focus{
      background-color: #292e33;
    }
  }

  &__name {
    width: 49%;
    height: 50px;
  }
  
  &__email {
    float: right;
    width: 49%;
    height: 50px;
    margin-left: 2%;
  }

  &__subject {
    height: 50px;
    width: 100%;
  }

  &__message {
    height: 100px;
    width: 100%;
    padding: 20px;
    resize: none;
  }

  &__submit {
    background-color: $input-bg;
    border: 1px solid gold;
    width: 150px;
    height: 50px;
    float: right;
    color: #fff;
    cursor: pointer;

    transition: transform 350ms;

    &:hover {
      transform: scale(1.1);
    }
  }
}