@import '../../styles/vars.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  width: $sidebar-width;
  height: 100vh;

  background-color: #181818;
  color: #fff;

  &__logo {
    &--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      background-color: #000;
      padding-top: 20px;
    }

    &--title {
      font-size: 36px;
      line-height: 36px;
      font-weight: 700;
      margin: 0;
      // padding: 0px 0 0;
    }

    &--text {
      color: #a5a5a5;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      padding: 0 0 20px;
    }

    width: 130px;
    height: 90px;
    background-image: url(../../images/N-LOGO.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}