@import url('../../styles/_vars.scss');

.nav {
  margin: 0 auto;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 24px;
    width: max-content;
  }

  &__link {
    display: block;
    padding-bottom: 8px;
    width: max-content;
    
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid transparent;
    color: #515152;
    transition-property: color border-color;
    transition-duration: 150ms ;

    &:hover {
      color: gold;
      border-color: gold;
    }

    &--active {
      color: gold;
      border-color: gold;
    }

  }
}